[submodule "devops/docs/doxygen_theme_flat_design"]
	path = devops/docs/doxygen_theme_flat_design
	url = https://github.com/MichaelBCG/doxygen_theme_flat_design.git
[submodule "custom_name"]
	path = devops/docs/devops/docs/doxygen-dark-theme
	url = https://github.com/MichaelBCG/doxygen-dark-theme.git
[submodule "devops/docs/devops/docs/ue_doxygen_source_filter"]
	path = devops/docs/devops/docs/ue_doxygen_source_filter
	url = https://github.com/MichaelBCG/ue_doxygen_source_filter.git
